.mediaViewInfo {
    --web-view-name: Form;
    --web-view-id: Form;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Form;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Form {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(245,245,245,1);
    overflow: hidden;
    --web-view-name: Form;
    --web-view-id: Form;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
.Rectangle_482 {
    position: absolute;
    overflow: visible;
    width: 1978px;
    height: 123px;
    left: -39px;
    top: 0px;
}
#Group_14 {
    position: absolute;
    width: 950px;
    height: 33px;
    left: 752px;
    top: 45px;
    overflow: visible;
}
#Group_12 {
    position: absolute;
    width: 950px;
    height: 33px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#forms {
    position: absolute;
    left: 190px;
    top: 0px;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(92,0,30,1);
    letter-spacing: 2px;
}
#companies {
    position: absolute;
    left: 352px;
    top: 0px;
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(92,0,30,1);
    letter-spacing: 2px;
}
#Logbook {
    position: absolute;
    left: 592px;
    top: 0px;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(92,0,30,1);
    letter-spacing: 2px;
}
#about_us {
    position: absolute;
    left: 796px;
    top: 0px;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(92,0,30,1);
    letter-spacing: 2px;
}
#Profile {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 131px;
    white-space: nowrap;
    text-align: left;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(92,0,30,1);
    letter-spacing: 2px;
}
#LOGO_UTM {
    filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.502)) blur(0px);
    position: absolute;
    width: 186px;
    height: 62.001px;
    left: 39px;
    top: 31px;
    overflow: visible;
}
#Alert {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 1769px;
    top: 44px;
    overflow: visible;
}
.Rectangle_479 {
    position: absolute;
    overflow: visible;
    width: 33px;
    height: 33px;
    left: 0px;
    top: 0px;
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 32.918px;
    height: 33px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Export {
    transform: matrix(1,0,0,1,1851.1779,45.3876) rotate(-1deg);
    transform-origin: center;
    position: absolute;
    width: 92px;
    height: 53px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_570 {
    position: absolute;
    overflow: visible;
    width: 31.197px;
    height: 31.197px;
    left: 0px;
    top: 1.07px;
}
.Path_151 {
    overflow: visible;
    position: absolute;
    width: 28.002px;
    height: 31.906px;
    left: 2.115px;
    top: 1.089px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_42 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 123px;
    left: 265.5px;
    top: 0.5px;
    transform: matrix(1,0,0,1,0,0);
}
#ITS {
    position: absolute;
    left: 275px;
    top: 27px;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(92,0,30,1);
    letter-spacing: 2px;
}
#Industrial_Training_System {
    position: absolute;
    left: 275px;
    top: 73px;
    overflow: visible;
    width: 236px;
    white-space: nowrap;
    text-align: left;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(92,0,30,1);
    letter-spacing: 2px;
}
.Rectangle_582 {
    position: absolute;
    overflow: visible;
    width: 1481px;
    height: 26px;
    left: 214px;
    top: 237px;
}
.Rectangle_583 {
    position: absolute;
    overflow: visible;
    width: 300px;
    height: 26px;
    left: 214px;
    top: 237px;
}
#WEEK_1 {
    position: absolute;
    left: 179px;
    top: 278px;
    overflow: visible;
    width: 92px;
    height: 73px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#WEEK_20 {
    position: absolute;
    left: 1650px;
    top: 278px;
    overflow: visible;
    width: 92px;
    height: 73px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
.Line_43 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 62px;
    left: 514.5px;
    top: 201.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Current_Week___5 {
    position: absolute;
    left: 421px;
    top: 160px;
    overflow: visible;
    width: 213px;
    height: 73px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(112,112,112,1);
}
.Rectangle_584 {
    position: absolute;
    overflow: visible;
    width: 231px;
    height: 78px;
    left: 907px;
    top: 315px;
}
#e_g_5 {
    position: absolute;
    left: 962px;
    top: 338px;
    overflow: visible;
    width: 58px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#WEEK___ {
    position: absolute;
    left: 783px;
    top: 330px;
    overflow: visible;
    width: 125px;
    height: 73px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
.Rectangle_585 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 489px;
    left: 132px;
    top: 464px;
}
#icons8_print_96 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1650px;
    top: 379px;
    overflow: visible;
}
#icons8_print_96_bg {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#icons8_search_50 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1074px;
    top: 329px;
    overflow: visible;
}
#icons8_search_50_bi {
    opacity: 0.3;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_586 {
    opacity: 0.7;
}
.Rectangle_586 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 61px;
    left: 132px;
    top: 526px;
}
#Rectangle_587 {
    opacity: 0.7;
}
.Rectangle_587 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 61px;
    left: 132px;
    top: 587px;
}
#Rectangle_588 {
    opacity: 0.7;
}
.Rectangle_588 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 61px;
    left: 132px;
    top: 648px;
}
#Rectangle_593 {
    opacity: 0.7;
}
.Rectangle_593 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 61px;
    left: 132px;
    top: 770px;
}
#Rectangle_594 {
    opacity: 0.7;
}
.Rectangle_594 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 61px;
    left: 132px;
    top: 831px;
}
#Rectangle_595 {
    opacity: 0.7;
}
.Rectangle_595 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 61px;
    left: 132px;
    top: 892px;
}
#Rectangle_599 {
    opacity: 0.7;
}
.Rectangle_599 {
    position: absolute;
    overflow: visible;
    width: 1637px;
    height: 61px;
    left: 132px;
    top: 709px;
}
#NO__bx {
    position: absolute;
    left: 172px;
    top: 480px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#DATE_by {
    position: absolute;
    left: 298px;
    top: 477px;
    overflow: visible;
    width: 64px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#DAY_bz {
    position: absolute;
    left: 464px;
    top: 477px;
    overflow: visible;
    width: 64px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#LOG___ACTIVITY_b {
    position: absolute;
    left: 678px;
    top: 480px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#DATE_b {
    position: absolute;
    left: 1227px;
    top: 477px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#APPROVE_b {
    position: absolute;
    left: 1436px;
    top: 477px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#EDIT__b {
    position: absolute;
    left: 1650px;
    top: 477px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#NO__bx {
    position: absolute;
    left: 172px;
    top: 480px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#DATE_by {
    position: absolute;
    left: 298px;
    top: 477px;
    overflow: visible;
    width: 64px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#DAY_bz {
    position: absolute;
    left: 464px;
    top: 477px;
    overflow: visible;
    width: 64px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#LOG___ACTIVITY_b {
    position: absolute;
    left: 678px;
    top: 480px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#DATE_b {
    position: absolute;
    left: 1227px;
    top: 477px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#APPROVE_b {
    position: absolute;
    left: 1436px;
    top: 477px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#EDIT__b {
    position: absolute;
    left: 1650px;
    top: 477px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#ID1 {
    position: absolute;
    left: 176px;
    top: 543px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#ID30_Aug_2020 {
    position: absolute;
    left: 275px;
    top: 540px;
    overflow: visible;
    width: 120px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Sunday {
    position: absolute;
    left: 449px;
    top: 540px;
    overflow: visible;
    width: 79px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A {
    position: absolute;
    left: 678px;
    top: 540px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Created___Last_Modified__ {
    position: absolute;
    left: 1196px;
    top: 525px;
    overflow: hidden;
    width: 170px;
    height: 62px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A_b {
    position: absolute;
    left: 1440px;
    top: 540px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Disable_ {
    position: absolute;
    left: 1654px;
    top: 540px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#ID2 {
    position: absolute;
    left: 176px;
    top: 606px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#ID30_Aug_2020_cj {
    position: absolute;
    left: 275px;
    top: 603px;
    overflow: visible;
    width: 120px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Sunday_ck {
    position: absolute;
    left: 449px;
    top: 603px;
    overflow: visible;
    width: 79px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#N_A_cl {
    position: absolute;
    left: 678px;
    top: 603px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Created___Last_Modified___cm {
    position: absolute;
    left: 1196px;
    top: 588px;
    overflow: hidden;
    width: 170px;
    height: 62px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#N_A_cn {
    position: absolute;
    left: 1440px;
    top: 603px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Disable__co {
    position: absolute;
    left: 1654px;
    top: 603px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#ID3 {
    position: absolute;
    left: 176px;
    top: 664px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#ID30_Aug_2020_cx {
    position: absolute;
    left: 275px;
    top: 661px;
    overflow: visible;
    width: 120px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Sunday_cy {
    position: absolute;
    left: 449px;
    top: 661px;
    overflow: visible;
    width: 79px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A_cz {
    position: absolute;
    left: 678px;
    top: 661px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Created___Last_Modified___c {
    position: absolute;
    left: 1196px;
    top: 646px;
    overflow: hidden;
    width: 170px;
    height: 62px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A_c {
    position: absolute;
    left: 1440px;
    top: 661px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Disable__c {
    position: absolute;
    left: 1654px;
    top: 661px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#ID4 {
    position: absolute;
    left: 176px;
    top: 726px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#ID30_Aug_2020_db {
    position: absolute;
    left: 275px;
    top: 723px;
    overflow: visible;
    width: 120px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Sunday_dc {
    position: absolute;
    left: 449px;
    top: 723px;
    overflow: visible;
    width: 79px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#N_A_dd {
    position: absolute;
    left: 678px;
    top: 723px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Created___Last_Modified___de {
    position: absolute;
    left: 1196px;
    top: 708px;
    overflow: hidden;
    width: 170px;
    height: 62px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#N_A_df {
    position: absolute;
    left: 1440px;
    top: 723px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Disable__dg {
    position: absolute;
    left: 1654px;
    top: 723px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#ID5 {
    opacity: 0.5;
    position: absolute;
    left: 176px;
    top: 788px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#ID30_Aug_2020_dp {
    position: absolute;
    left: 275px;
    top: 785px;
    overflow: visible;
    width: 120px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Sunday_dq {
    position: absolute;
    left: 449px;
    top: 785px;
    overflow: visible;
    width: 79px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A_dr {
    position: absolute;
    left: 678px;
    top: 785px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Created___Last_Modified___ds {
    position: absolute;
    left: 1196px;
    top: 770px;
    overflow: hidden;
    width: 170px;
    height: 62px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A_dt {
    position: absolute;
    left: 1440px;
    top: 785px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Disable__du {
    position: absolute;
    left: 1654px;
    top: 785px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#ID6 {
    position: absolute;
    left: 176px;
    top: 846px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#ID30_Aug_2020_d {
    position: absolute;
    left: 275px;
    top: 843px;
    overflow: visible;
    width: 120px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Sunday_d {
    position: absolute;
    left: 449px;
    top: 843px;
    overflow: visible;
    width: 79px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#N_A_ea {
    position: absolute;
    left: 678px;
    top: 843px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Created___Last_Modified___d {
    position: absolute;
    left: 1196px;
    top: 828px;
    overflow: hidden;
    width: 170px;
    height: 62px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#N_A_eb {
    position: absolute;
    left: 1440px;
    top: 843px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Disable__ea {
    position: absolute;
    left: 1654px;
    top: 843px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#ID7 {
    position: absolute;
    left: 176px;
    top: 909px;
    overflow: visible;
    width: 54px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#ID30_Aug_2020_eh {
    position: absolute;
    left: 275px;
    top: 906px;
    overflow: visible;
    width: 120px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Sunday_ei {
    position: absolute;
    left: 449px;
    top: 906px;
    overflow: visible;
    width: 79px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A_ej {
    position: absolute;
    left: 678px;
    top: 906px;
    overflow: visible;
    width: 168px;
    height: 37px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Created___Last_Modified___ek {
    position: absolute;
    left: 1196px;
    top: 891px;
    overflow: hidden;
    width: 170px;
    height: 62px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#N_A_el {
    position: absolute;
    left: 1440px;
    top: 906px;
    overflow: visible;
    width: 112px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}
#Disable__em {
    position: absolute;
    left: 1654px;
    top: 906px;
    overflow: visible;
    width: 92px;
    height: 35px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,252,252,1);
}