<style>
    @media screen and (max-width: 600px) {
        .header-right a {
            display: inline;
            font-size: smaller;
        }
    }
</style>
<div class="header">
    <a href="#default" class="logo"><img src="/Web-Pages/Assets/ITS-logo.png" alt="" style="height:50px;"></a>
    <div class="header-right">
        <a href="profile.html"><b>Profile</b></a>
        <a href="borang.html"><b>Form</b></a>
        <!-- <a href="#belumada"><b>Companies</b></a> -->
        <a href="logbook.html"><b>Logbook</b></a>
        <a href="#about-us"><b>About Us</b></a>
    </div>
</div>