<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logbook</title>
    <link rel="stylesheet" href="../css/logbook.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- HEARDER -->
    <div class="header">
        <a href="#default" class="logo"><img src="/Web-Pages/Assets/ITS-logo.png" alt="" style="height:50px;"></a>
        <div class="header-right">
            <a href="#profile"><b>Profile</b></a>
            <a href="#form"><b>Form</b></a>
            <a href="#companies"><b>Companies</b></a>
            <a class="active" href="#logbook"><b>Logbook</b></a>
            <a href="#aboutus"><b>About Us</b></a>

        </div>
    </div>
    <br><br>

    <div id="progress" class="container">
        <h2>Current Week</h2>

        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 10%"
                aria-valuenow="3" aria-valuemin="0" aria-valuemax="20"></div>
        </div>
        <br><br>
        <a type="button" id="logbutton" class="btn btn-outline-danger" style="margin-top: 10px; margin-left: 20px;">Update
            Logbook</a>
            <br><br>
    </div>

   
    
    <div id="insertlog" class="container">
        
        <div class="row align-items-center" style="background-color: #d4b6333f; display: block;">

            <form id="frm-log" method="POST" style="margin: 10px; padding: 10px ;">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="input">Week</label>
                        <input type="text" class="form-control" name="week" placeholder="1">
                    </div>
                    <div class="form-group col">
                        <label for="input">Date</label>
                        <input type="date" class="form-control" name="date" placeholder="07-Oct-2020">
                    </div>
                    <div class="form-group col">
                        <label for="inputAddress">Day</label>
                        <input type="text" class="form-control" name="day" placeholder="Thursday">
                    </div>
                    <div class="form-group col-6">
                        <label for="input">Log/Activities</label>
                        <input type="text" class="form-control" name="log" >
                    </div>
                </div>
                <button class="btn btn-light" id="" type="submit">Save</button>
            </form>
        </div>
    </div>
    <div id="table" class="container">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputWeek" class="sr-only">Search Week</label>
                <input type="text" class="form-control" id="inputWeek" placeholder="Week">
            </div>
            <button type="submit" id="search" class="btn btn-outline-warning mb-2">Search</button>
        </form>
        <p id="ins"></p></br>
    </div>
    



    <script>
        $('#insertlog').hide();
     
        $('#logbutton').click(function(){
            $('#insertlog').show();
        })
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        $.ajax({
            type: "GET",
            url: "http://localhost/its/api/getLogBook.php",
            dataType: "json",
            success: function (data, status, xhr) {
                var prettyContent =
                    '<table class="table table-striped">';

                prettyContent += '<thead>'
                prettyContent += '<tr class="p-3 mb-2 text-white">'
                prettyContent += '<th> Week </th>'
                prettyContent += '<th> Date </th>'
                prettyContent += '<th> Day </th>'
                prettyContent += '<th> Log/Activity </th>'
                prettyContent += '<th> Date </th>'
                prettyContent += '<th> Approve </th>'
                prettyContent += '<th> Edit </th>'
                prettyContent += '</tr>'
                prettyContent += '</thead>'
                prettyContent += '<tbody>'
                for (let i = 0; i < data.length; i++) {
                    prettyContent += '<tr>'
                    prettyContent += '<td>' + data[i].week + '</td>'
                    prettyContent += '<td>' + data[i].date + '</td>'
                    prettyContent += '<td>' + data[i].day + '</td>'
                    prettyContent += '<td>' + data[i].log + '</td>'
                    prettyContent += '<td>' + data[i].dateApprove + '</td>'
                    prettyContent += '<td>' + data[i].approve + '</td>'
                    prettyContent += '<td>' + data[i].edit + '</td>'

                }
                prettyContent += '</tr>'
                prettyContent += '</tbody>'
                prettyContent += '</table>'

                document.querySelector('#ins').innerHTML = prettyContent;

            },

            error: function () {
                alert("An error occurred while processing JSON file.");
            }
        });

        $('#search').click(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost/its/api/getLogByWeek.php?week=" + $('#inputWeek').val(),
                dataType: "json",
                success: function (data, status, xhr) {
                    alert('ok');
                    var prettyContent =
                    '<table class="table table-striped">';

                prettyContent += '<thead>'
                prettyContent += '<tr class="p-3 mb-2 text-white">'
                prettyContent += '<th> Week </th>'
                prettyContent += '<th> Date </th>'
                prettyContent += '<th> Day </th>'
                prettyContent += '<th> Log/Activity </th>'
                prettyContent += '<th> Date </th>'
                prettyContent += '<th> Approve </th>'
                prettyContent += '<th> Edit </th>'
                prettyContent += '</tr>'
                prettyContent += '</thead>'
                prettyContent += '<tbody>'
                for (let i = 0; i < data.length; i++) {
                    prettyContent += '<tr>'
                    prettyContent += '<td>' + data[i].week + '</td>'
                    prettyContent += '<td>' + data[i].date + '</td>'
                    prettyContent += '<td>' + data[i].day + '</td>'
                    prettyContent += '<td>' + data[i].log + '</td>'
                    prettyContent += '<td>' + data[i].dateApprove + '</td>'
                    prettyContent += '<td>' + data[i].approve + '</td>'
                    prettyContent += '<td>' + data[i].edit + '</td>'

                }
                prettyContent += '</tr>'
                prettyContent += '</tbody>'
                prettyContent += '</table>'
                document.querySelector('#ins').innerHTML = prettyContent;

            },

                error: function () {
                    alert(status);
                }
            });
        });

        $('#frm-log').submit(function (event) {
            alert('Logbook submitted');
            event.preventDefault();

            var formData = $(this).serialize();
            console.log(formData);  // check using console to make sure all the form data values are correctly serialized

            $.ajax({
                type: "POST",
                url: "http://localhost/its/api/insertLog.php",
                data: formData,
                dataType: "json",

                success: function (data, status, xhr) {
                    if (data.rowcount >0) {
                        alert('Log added successfully');
                        appendList(data);
                    }
                    else {
                        alert('fail to insert, ' + data.errormessage);
                    }
                },

                error: function () {
                    alert('error' + status.log);
                }
            });
        });
    </script>

    <br><br>

</body>

</html>