<!-- login + guide -->

<link rel="stylesheet" href="../css/page1.css">

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/page1.css" />


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
    <img id="LOGO_UTM" src="../Assets/LOGO-UTM.png">
    <div id="its">Industrial Training System</div>
    <form class="form" method="post" action="#">

        <label class="matrics">Matric Number</label>
        <input type="text" name="username" id="username">
        <label class="password">Password :</label>
        <input type="password" name="password" id="password">
        <input type="button" name="signup" id="signup" value="Signup">
    </form>
</body>



</html>

<script>
    $(document).ready(function () {
        $("#signup").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            // Checking for blank fields.
            if (username == '' || password == '') {
                $('input[type="text"],input[type="password"]').css("border", "2px solid red");
                $('input[type="text"],input[type="password"]').css("box-shadow", "0 0 3px red");
                alert("Please fill all fields...!!!!!!");
            }

            else {

                $.ajax({
                    type: "GET",
                    // url: "http://localhost/ITS/api/getAllUser.php",
                    url: "http://localhost/ITS/users",
                    dataType: "json",
                    success: function (data, status, xhr) {
                        // alert('ok, sucessfully get the data');
                        $('#its').html(
                            ' '
                        );

                        $.each(data, function () {
                            if (username == this['username'] && password == this['password']) {
                                window.location = "http://localhost/ITS/Web-Pages/View/profile.html";
                            }

                            else {
                                $('input[type="text"],input[type="password"]').css("border", "2px solid red");
                                $('input[type="text"],input[type="password"]').css("box-shadow", "0 0 3px red");
                                // alert("Wrong matrics number or password!");
                            }

                        });
                    },

                    error: function () {
                        alert("fail to get data");
                    }

                });


            }

        });
    });

</script>