<!-- login + guide -->

<link rel="stylesheet" href="../css/page1.css">

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/page1.css" />


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
    <!-- <div class="container"> -->
    <!-- <div class="main"> -->
    <img id="LOGO_UTM" src="../Assets/LOGO-UTM.png">
    <div id="its">Industrial Training System</div>
    <form class="form" method="post" action="#">

        <label class="matrics">Matric Number</label>
        <input type="text" name="username" id="username">
        <label class="password">Password :</label>
        <input type="password" name="password" id="password">
        <input type="button" name="signup" id="signup" value="Signup">
    </form>
    <!-- </div> -->
    <!-- </div> -->




    <!-- <p id="p-les02-array">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, repellat.</p></br> -->


</body>



</html>

<script>
    $(document).ready(function () {
        $("#signup").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            // Checking for blank fields.
            if (username == '' || password == '') {
                $('input[type="text"],input[type="password"]').css("border", "2px solid red");
                $('input[type="text"],input[type="password"]').css("box-shadow", "0 0 3px red");
                alert("Please fill all fields...!!!!!!");
            }

            else {

                //         $.ajax({
                //     type: "GET",
                //     url: "http://localhost/ITS/api/getsingleuser.php?username=" + username,
                //     dataType: "json",
                //     success: function (data, status, xhr) {

                //         $.each(data, function () {
                //             var prettyContent = '<br><br><br>';
                //             prettyContent += '<br>Name : ' + data.username;
                //             prettyContent += '<br>Id : ' + data.password;

                //             document.querySelector('#its').innerHTML = prettyContent;

                //             // if ((matrics == data.username)){
                //             //     window.location = "http://localhost/ITS/Web-Pages/View/profile.html";
                //             //     }

                //             //     else {
                //             //     $('input[type="text"],input[type="password"]').css("border","2px solid red");
                //             //     $('input[type="text"],input[type="password"]').css("box-shadow","0 0 3px red");
                //             //     alert("Wrong matrics number or password!");
                //             //     }

                //         });
                //     },

                //     error: function () {
                //         alert("fail to get data");
                //     }

                // });


                $.ajax({
                    type: "GET",
                    url: "http://localhost/ITS/api/getAllUser.php",
                    dataType: "json",
                    success: function (data, status, xhr) {
                        // alert('ok, sucessfully get the data');
                        $('#its').html(
                            ' '
                        );

                        $.each(data, function () {
                            // $('#its').append(
                            //                 ' <ul>' +
                            //                 ' <li>Username: ' + this['username'] + '</li>' +
                            //                 ' <li>Id: ' + this['password'] + '</li>' +
                            //                 ' </ul><br>'
                            //             );


                            if (username == this['username'] && password == this['password']) {
                                window.location = "http://localhost/ITS/Web-Pages/View/profile.html";
                            }

                            else {
                                $('input[type="text"],input[type="password"]').css("border", "2px solid red");
                                $('input[type="text"],input[type="password"]').css("box-shadow", "0 0 3px red");
                                // alert("Wrong matrics number or password!");
                            }

                        });
                    },

                    error: function () {
                        alert("fail to get data");
                    }

                });


            }

        });
    });


    // $.ajax({
    //     type: "GET",
    //     url: "http://localhost/ITS/api/getAllUser.php",
    //     dataType: "json",
    //     success: function (data, status, xhr) {
    //         // alert('ok, sucessfully get the data');
    //         $('#p-les02-array').html(
    //             ' '
    //         );

    //         $.each(data, function () {



    //         });
    //     },

    //     error: function () {
    //         alert("fail to get data");
    //     }

    // });

</script>