<!-- login + guide -->

<link rel="stylesheet" href="../css/page1.css">

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/page1.css" />
    <?php include 'login.php';?>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/page1.js"></script>
</head>

<body>
    <!-- <div class="container"> -->
    <!-- <div class="main"> -->
    <img id="LOGO_UTM" src="../Assets/LOGO-UTM.png">
    <div id="its">Industrial Training System</div>
    <form class="form" method="post" action="#">

        <label class="matrics">Matric Number</label>
        <input type="text" name="matrics" id="matrics">
        <label class="password">Password :</label>
        <input type="password" name="password" id="password">
        <input type="button" name="signup" id="signup" value="Signup">
    </form>
    <!-- </div> -->
    <!-- </div> -->
    
</body>



</html>