<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/profile.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<!-- HEARDER -->
<div w3-include-html="header.html"></div>
<br><br>

<!-- SHOW PROFILE -->
<div class="container" id="show-profile" style="display: block;">
	<div class="row">
	  <div class="col">
		<img src="/Web-Pages/Assets/profile.png" alt="profile picture" id="picture">
	  </div>
	  <div class="col-6">
		<h3 style="color: #5D001D;" id="name">NAME</h3>
		<!-- <h3 style="color: #5D001D;" id="faculty">Faculty</h3> -->
		<h3 style="color: #5D001D;" id="course">COURSE/YEAR</h3>

	  </div>
	  <div class="col">
		<button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Edit Your Profile Info" style="background-color: #5D001D; color:white;" id="edit-btn">
			<i class="fas fa-edit"></i>   Edit 
		
	  </div>
	</div>
	<br><br><br>
	<div class="row">
	  <div class="col-8">

		<div class="card" >
			<h5 class="card-header" style="background-color: #5D001D; color: #C5A4AD;">Details Information</h5>
			<div class="card-body">
				<h6 id="address">Address : </h6>
				<h6 id="contact">Contact : </h6>
				<h6 id="email">Email : </h6>
				<h6 id="ic">Identification Number : </h6>
				<h6 id="gender">Gender : </h6>
			</div>
		  </div>
	  </div>

	  <div class="col">	
			<div class="card" >
				<h5 class="card-header" style="background-color: #5D001D; color: #C5A4AD;">Documents</h5>
				<div class="card-body">
				<a href="#"><i class="fas fa-file"></i> Resume</a>
			</div>
		  </div>
	  </div>

	  </div>
	</div>
  </div>

<!-- EDIT-PROFILE  -->
<div class="container" style="background-color: #C5A4AD; display: none;"  id="update-profile">
	<br>
	<h3><b>EDIT PROFILE</b></h3><br>
	<form>
		<div class="form-row">
		  <div class="form-group col-md-6">
			<label for="input">Email</label>
			<input type="email" class="form-control" id="newemail">
		  </div>
			  <div class="form-group col-md-6">
			  <label for="input">Contact Number</label>
			  <input type="text" class="form-control" id="newphone">
			</div>
		</div>
		<div class="form-group">
		  <label for="inputAddress">Address</label>
		  <input type="text" class="form-control" id="newaddress">
		</div>
		
		<button type="submit" class="btn" style="background-color: #5D001D; color:white;" id="update-btn">Update</button>
	  </form>
	  <br>
	  <p><b>*this is the only data that you can change, for other data changes please refer to academic office of your faculty</b></p>
	  <br><br>
	</div>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script> 
		includeHTML();
		// show hide edit panel
		
  		$("#edit-btn").click(function(){
			$("#show-profile").fadeOut("fast").delay('12000');
   		 $("#update-profile").fadeIn("slow");
  		});
	

		// $(document).ready(function(){
  		$("#update-btn").click(function(){
		// 	$("#update-profile").fadeOut("fast").delay('12000');
   		//  $("#show-profile").fadeIn("slow");
		   var newphone = document.getElementById("newphone").value;
		   var newemail= document.getElementById("newemail").value;
		   var newaddress = document.getElementById("newaddress").value;

		//    console.log(newphone);
		    
				$.ajax({
				type: "PUT",
                url: "http://localhost/its/profiles/1",
                dataType: "json",
				data: JSON.stringify({
					newphone: newphone,
					newemail: newemail,
					newaddress: newaddress,
				}),
                success: function (data) {
					console.log(data);
					
                },

                error: function () {
                    alert('Connection to server failed');
                }
				});
				//console.log(response);

  		});
		// });

		//getting profile data form the database
		const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
		const id = '1';
        // console.log('Hello,test');
		$.ajax({
                type: "GET",
                url: "http://localhost/its/profiles/1",
                dataType: "json",
                success: function (data, status, xhr) {
					// $('#name').append(data.name);
                    document.getElementById("name").innerHTML = data.name;
                    // document.getElementById("faculty").innerHTML = data.faculty;
                    document.getElementById("course").innerHTML = data.course;
					$('#address').append(data.address);
					$('#email').append(data.email);
					$('#ic').append(data.ic);
					$('#gender').append(data.gender);
					$('#contact').append(data.phone);
					
                },

                error: function () {
                    alert('Connection to server failed');
                }
            });

		//getting a random profile pic
		// $.ajax({
		// 	url: 'https://randomuser.me/api/?gender=female',
		// 	dataType: 'json',
		// 	success: function(data) {
		// 		// $('#picture').append(data.picture.medium);
		// 		console.log(data);
		// 	}
		// });
      
		//Include other html file
		
		function includeHTML() {
			var z, i, elmnt, file, xhttp;
			/* Loop through a collection of all HTML elements: */
			z = document.getElementsByTagName("*");
			for (i = 0; i < z.length; i++) {
				elmnt = z[i];
				/*search for elements with a certain atrribute:*/
				file = elmnt.getAttribute("w3-include-html");
				if (file) {
				/* Make an HTTP request using the attribute value as the file name: */
				xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
					if (this.status == 200) {elmnt.innerHTML = this.responseText;}
					if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
					/* Remove the attribute, and call this function once more: */
					elmnt.removeAttribute("w3-include-html");
					includeHTML();
					}
				}
				xhttp.open("GET", file, true);
				xhttp.send();
				/* Exit the function: */
				return;
				}
			}
		}
</script>
	
</body>
</html>
